# tipo do banco
# 0 = postgresql
# 1 = mysql
# 2 = sqlite
dbtype=0

# dados de conexão
dbhost=127.0.0.1
dbport=5432
dbuser=postgres
dbpass=lmm
dbname=VXAOS

# pool de conexões
dbpoolmin=5
dbpoolmax=100